body {    
    background-color:#fff;
}

.jumbotron {    
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(https://mundologan.xyz/porton-prado/server/assets/img/fotos/foto1.jpeg);    
}

h1 {
  background-color: rgb(0,0,0,0.4);
}

.img-splash {
    width: 50%;
    height: auto;
}



.link-tel:visited {    
    font-weight: bold;
    text-decoration: none;
    color: crimson;
}


.link-tel:link {
    font-weight: bold;
    text-decoration: none;
    color:  #001a00;
  }
  
  /* visited link */
  .link-tel:visited {
    color: green;
  }
  
  /* mouse over link */
  .link-tel:hover {
    color: hotpink;
  }
  
  /* selected link */
  .link-tel:active {
    color: green;
  }